
.header{

    .logo-header{
        width: 200px;
    }

    .header-nav:hover {
        -webkit-transform: scale(1.05, 1.05);
                transform: scale(1.05, 1.05);
      }
      
      @media screen and (max-width: 850px) {
        .header-nav:hover {
          -webkit-transform: none;
                  transform: none;
        }
      }
}

