


@import './nav';
@import './header';
@import './main';
@import './footer';
@import './mainpcgamers';
@import './mainnotebook';
@import './mainperifericos';
@import './main-logitech';
@import './contacto';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



